<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Sign Up to Bookmark Manageress </title>
    <link rel="stylesheet" href='sign_up.css' type='text/css'>
  </head>

<body>
  <div class="wrapper">
    <div class="title">
      <h1> BookmarkManageress </h1>
    </div>
    <div class="sign_in">
      <h3> Sign In </h3>

      <% if @user.nil?  %>
        <%= flash[:notice_user_credentials] %>
      <% end %>


      <form action='/sign_in' method='post'>
        <label for="user_name">
          User Name:
          <input type="text" name="existing_user_name" maxlength="45">
        </label>
        <label for="password">
          Password:
          <input type="password" name="existing_password">
        </label>
        <label for="submit" class="submitform">
          <input type="submit" value="Sign In">
        </label>

      </form>
    </div>

  <% if flash[:notice].nil? %>
  <form action="/sign_up" method="post" >
    <label for="user_name">
      User Name:
      <input type="text" name="user_name" maxlength="45">
    </label>
    <label for="email">
      Email:
      <input type="email" name="email" required>
    </label>
    <label for="password">
      Password:
      <input type="password" name="password">
    </label>
    <label for="password_confirmation">
      Confirm Password:
      <input type="password" name="password_confirmation">
    </label>
    <label for="submit" class="submitform">
      <input type="submit" value="Sign Up">
    </label>
  </form>
  <% end %>

  <% if flash[:notice] || flash[:notice_email] %>
    <div id="notice" >
      <%= flash[:notice] %>
      <%= flash[:notice_email] %>
        <form action="/sign_up" method="post">
          <label for="user_name">
            User Name:
            <input type="text" name="user_name" value="<%= @user.user_name%>">
          </label>
          <label for="email">
            Email:
            <input type="text" name="email" value="<%= @user.email%>">
          </label>
          <label for="password">
            Password:
            <input type="password" name="password">
          </label>
          <label for="password_confirmation">
            Confirm Password:
            <input type="password" name="password_confirmation">
          </label>
          <label for="submit" class="submitform">
          <input type="submit" value="Try Again">
        </label>
        </form>
    </div>
  <% end %>
  </div>
  </body>
</html>
